.speech{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17.5px;
    color:black;
}

.song{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color:black;
}

.direction{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color:black;
    background-color: aliceblue;
}
.direction:hover{
    color: yellow;
    background-color: crimson;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color:black;
}

.Calynx{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkmagenta;
    background-color: lavender;
}

.Salata{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: maroon;
    background-color: lightblue;
}

.Melene{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:green;
    background-color: lightgray;
}

.Tarara{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:dimgrey;
    background-color: lightyellow;
}

.Scaphio{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:maroon;
    background-color: lightblue;
}

.Phantis{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:green;
    background-color: lightgray;
}

.Calynx:hover,.Salata:hover,.Melene:hover,.Tarara:hover,.Scaphio:hover,.Phantis:hover{
    box-shadow: 10px 10px 5px black;
    border: 5px solid rgb(255, 0, 0);
}

.CHORUS{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: coral;
}

.Girls{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    color:cyan;
}

table,td,th{
    border: 1px solid #ddd;
    padding: 20px;   
    border-collapse: collapse;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: palevioletred;
    color: white;
}

tr:nth-child(even){
    background-color:blanchedalmond;
}
